<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>댓글</title>
    </head>
    <body>
        <h1><%= data.userid %></h1>
        <ul>
            <li>작성일: <%= data.date %></li>
            <li>댓글 내용: <%= data.comment %></li>
            <br />
            <a href="/comments">목록으로 이동</a>
        </ul>
    </body>
</html>
