<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>test</title>
        <link rel="stylesheet" href="../public/css/style.css" />
    </head>
    <body>
        <%- include('header.ejs') %>
        <h1>Hello Ejs</h1>
        <ul class="test">
            <% for(let i = 0;i < 5; i++) { %>
            <li>안녕</li>
            <% } %>
        </ul>
        <h1><%= name %></h1>
    </body>
</html>
